
// 制作実績 > 詳細情報
.c-detailArea{ // ul
	display: flex;
	flex-wrap: wrap;
	@include max(768){flex-direction: column-reverse !important;}
	@include min(768){
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	&__right{
		@include min(768){
			width: 45%;
			min-width: 330px;
		}
	}
	&__left{
		@include min(768){
			width: 50%;
		}
	}

	&__title{

	}
	&__subTitle{
		span{
			position: relative;
			&::before{
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				height: 1px;
				width: 100%;
				background: $main-color--b;
			}
		}
	}
	&__day{

	}
	&__categoryLists{
		display: flex;
		flex-wrap: nowrap;
		@include min(768){
			flex-wrap: wrap;
			// padding-left: 2%
		}
		li{
			@include min(768){
				width: 100%;
			}
		}
	}
	&__imgLists{// ui

	}
	&__imgItem{// li
		position: relative;
		margin-bottom: 20%;
		@include min(768){margin-bottom: 10%;}

		// 画像のスクロール化に対応して、ユーザーにテキストで周知する。
		&:first-child{// PCブラウザ表示
			&::before{// ボーダー
				@include min(768){
					content: "";
					position: absolute;
					top: 20%;
					left: 0;
					transform: translateX(-50%);
					height: 1px;
					width: 5%;
					background: $main-color--b;
					z-index: 1;

				}
			}
			&::after{
				content: "スクロールできるよ（PCバージョン）";
				position: absolute;
				top: -6.5%;
				left: 0%;
				width: auto;
				font-size: clamp(1rem, 1.2vw, 1.5rem);// s-S
				font-family: gothic-font02;
				font-weight: bold;
				@include min(768){
					top: 13%;
					left: -6%;
					transform: translateX(-50%);
					-ms-writing-mode: tb-rl;
					writing-mode: vertical-rl;
				}
			}
			.c-detailArea__img{ // li > 
				// 各ページ毎の設定（1枚目）

				// 表示アニメーション
				opacity: 0;
				animation-name:fadeUpAnime;
				perspective-origin: left center;
				animation-fill-mode: forwards;
				animation-duration:1s;
				animation-delay:.25s;	

				// サイト紹介は縦幅が長くなりがちなので、「スクロール化」で対応。
				height: 30%;
				max-height: 300px;
				overflow-y: scroll;
				@include min(768){
					height: 75%;
					max-height: 400px;
				}
				@include min(1400){max-height: 500px;}
			}
		}
		&:nth-child(2){// スマホ表示
			width: 75%;
			&::before{// ボーダー
				@include min(768){
					content: "";
					position: absolute;
					top: 20%;
					left: auto;
					right: -6.5%;
					transform: translateX(-50%);
					height: 1px;
					width: 6.5%;
					background: $main-color--b;
					z-index: 1;
				}
			}
			&::after{
				content: "スクロールできるよ（スマホバージョン）";
				position: absolute;
				top: -4.5%;
				left: 0%;
				width: auto;
				font-size: clamp(1rem, 1.2vw, 1.5rem);// s-S
				font-family: gothic-font02;
				font-weight: bold;
				@include min(768){
					top: 13%;
					left: auto;
					right: -14%;
					transform: translateX(-50%);
					-ms-writing-mode: tb-rl;
					writing-mode: vertical-rl;
				}
			}
			.c-detailArea__img{ // li > 
				// 各ページ毎の設定（2枚目）

				// 表示アニメーション
				opacity: 0;
				animation-name:fadeUpAnime;
				perspective-origin: left center;
				animation-fill-mode: forwards;
				animation-duration:1s;
				animation-delay:.5s;
	
				// サイト紹介は縦幅が長くなりがちなので、「スクロール化」で対応。
				height: 30%;
				max-height: 480px;
				overflow-y: scroll;
				@include min(768){
					height: 25%;
					max-height: 580px;
				}
				@include min(1400){max-height: 700px;}
			}

		}
	}
	&__text{

	}
	&__link{
		color: $site-color02;
		transition: all .5s;
		opacity: 1;
		&:hover{
			opacity: .8;
		}
	}
}