// ヘッダー
// #header{
// 	transition: all 2s;
// }

.c-header{
	width: 100lvw;
	height: auto;
	// background: $main-color--w;
	// padding: 5px 0px 10px;
	box-sizing: border-box;
	transition: padding .3s;

	&.-fixed{//固定
		position: sticky;
		top: 0;
		left: 0;
		z-index: 999;
	}
	&-wrapper{
		position: relative;
		align-items: center;
		width: 95%;
		height: auto;
		padding: 8px 0px 10px;
		margin: auto;
		// background: #bfbebe2e;
		@include min(768){
			width: 90%;
			max-width: 1100px;
			padding: 0;
		}
		@include min(1600){
			width: 70.4%;
		}
		&::after{
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			width: 100vw;
			height: 1px;
			background: $main-color--b;
		}
		// ボーダーなし
		&.-no-b{
			&::after{
				background: $main-color--w;
			}
		}
	}
	&__popArea{//上部
		width: 100%;
		height: auto;
		// height: 125px;
		.c-header__lists{
			@include min(768){
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
			}
			li{
				&.logoArea{// ロゴエリア
					width: 12%;
					height: auto;
					// @include max(768){margin: auto;}
					@include min(768){
						width: 6%;
						max-width: 80px;
						img{vertical-align: baseline;}
					}
					@include min(1000){width: 20%;}
				}
				&.navArea{//ナビゲーションエリア
					@include min(768){width: 50%;}
				}
			}
		}
	}
	&__navArea{//下部
		.c-header__navLists{
			height: 100%;
			@include min(768){
				display: flex;
				flex-wrap: nowrap;
				li{
					position: relative;
					height: auto;
					// padding: 2.1% 0;
					background: $main-color--w;
					transition: .5s all;
					&:first-child{
						&::before{
							content: "";
							position: absolute;
							top: 50%;
							left: 0;
							transform: translateY(-50%);
							height: 100%;
							width: 1px;
							background: $main-color--b;
						}
					}
					&::after{
						content: "";
						position: absolute;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
						height: 100%;
						width: 1px;
						background: $main-color--b;
					}
					a{
						display: block;
						width: 100%;
						height: 100%;
						padding: 15% 0;
					}
					// オプション > ボーダーなし
					&.-no-b{
						&::before,
						&::after{
							background: $main-color--w;
						}
					}
					// オプション > SOLD OUT
					&.-grayOutItem{pointer-events: none;}
				}
				/*---------------------------------
					ページ数によってナビゲーション数を変更できる。
					基本的にheader、navと同数にすること。
					（物件概要は含まない。）
				---------------------------------*/
				&.-col6{
					li{width: calc(100%/6);}
				}
				&.-col7{
					li{width: calc(100%/7);}
				}
				&.-col8{
					li{width: calc(100%/8);}
				}
			}
		}
		// アクティブ・ホバーアニメーション変更
		&.-navColor{// 色
			.c-header__navLists{
				@include min(768){
					li{
						transition: .5s all;
						.navItem__link,
						.d-menu__title{
							&.-active{
								background: $site-color02;
								pointer-events: none;
								a,span{
									color: $main-color--w !important;
								}
							}
						}
						// ホバー関係
						&:hover{
							background: $site-color01;
							.navItem__link,
							.navItem__link span,
							.d-menu__title span{color: $main-color--w !important;}
						}
						// クリック関係
						#d-menu__checkbox {
							display: none;
							&:checked ~ .d-menu__title {
								background: $site-color02;
								a,span{
									color: $main-color--w !important;
								}
							}
						}
					}
				}
			}
		}
		&.-navBorder{// 線
			.c-header__navLists{
				@include min(768){
					li{
						transition: .5s all;
						.navItem__link,
						.d-menu__title{
							position: relative;
							&::after{
								content: "";
								width: 90%;
								height: 2.5px;
								position: absolute;
								left: 50%;
								bottom: 1%;
								transform: translateX(-50%);
								background: $main-color--w;
								transition: .5s all;
							}
							&.-active{
								&::after{
									background: $site-color02;
								}
							}
						}
						// ホバー関係
						&:hover{
							.navItem__link,
							.d-menu__title{
								&::after{
									background: $site-color01;
								}
							}
						}
						// クリック関係
						#d-menu__checkbox {
							display: none;
							&:checked ~ .d-menu__title:after {
								background: $site-color02;
							}
						}
					}
				}
			}
		}
	}
}
