



@keyframes scroll-onBtn {
    0% {
        pointer-events: none;
        opacity: 0;
    }
    10%{
        pointer-events: all;
    }
    50% {
        opacity: .5;
    }
    100% {
       opacity: 1;
    }
}

.a{
    &-scroll-on{
        @include min(768){
            animation: scroll-onNav;
            animation-timeline: scroll();
            // animation-range: cover 0% cover 100%;
            animation-range: contain 0% contain 50%;

        }
    }
    @keyframes scroll-onNav {
        0% {
            pointer-events: none;
            opacity: 0;
        }
        99% {
            pointer-events: all;
            opacity: .9;
        }
        100% {
            opacity: 1;
        }
    }

    &-scroll-header{
        @include min(768){
            animation: scroll-gap;
            animation-timeline: scroll();
            animation-range: contain 0% contain 50%;

            .logoArea{
                animation: scroll-logo;
                animation-fill-mode: forwards;
                animation-timeline: scroll();
                animation-range: contain 0% contain 50%;
            }
        }
    }
    @keyframes scroll-gap {
        0%   {padding: 20px 0px 0px;}
        100% {padding:  0px 0px 0px;}
    }
    @keyframes scroll-logo {
        0%   {transform: scale(1);}
        100% {transform: scale(.7);}
    }
}