
.c-archive{
	&__img{
		opacity: 0;
		animation-name:fadeAnime;
		perspective-origin: left center;
		animation-fill-mode: forwards;
		animation-duration:1s;
		border: 1px solid $main-color--gray;
		overflow: hidden;
		background: $main-color--w;
		padding: 3% 3% 1%;
		margin-bottom: 5%;
		@include min(768){margin-bottom: 5%;}
		&:last-child{margin-bottom: 0;}
	}
	&__tagLists{// ul
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.tagItem{// li
			display: inline-block;
			width: auto;
			margin-right: 1% !important;
			margin-bottom: 2px !important;
			padding:0 2% 1%;
			border: 1px solid $main-color--Dgray;
			z-index: 1;
		}

	}
}