
.c-blogArea{
	&__title{

	}
	&__subTitle{

	}
	&__day{

	}
	&__categoryLists{// ul
		display: flex;
		flex-wrap: wrap;
		li{width: auto;}
	}

	// チェキ
	&__img{
		padding: 1% 2%;
		background: $main-color--w;
		border: 1px solid $main-color--b;
		@include min(768){padding: 2% 2% 3%;}
	}
}