
// パンくず
.c-breadcrumb{
	&__lists{ //ul
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		padding-left: 0;
		@include max(768){
			justify-content: end;
		}
	}
	&__item{ //li
		position: relative;
		display: inline-block;
		padding-right: 25px;
		&::before{
			content: "<";
			position: absolute;
			top: 40%;
			right: 10px;
			transform: translateY(-50%);
			color: $main-color--b;
			font-size: 1.2rem;
		}
		&:last-child{
			padding-right: 0;
			span{color: $site-color02;}
			&::before{display: none;}
		}
	}
	&__link{ // a
		transition: all .5s;
		&:hover{color: $site-color01;}
	}
}