
// 制作実績 > 詳細情報
.c-detailArea{ // ul
	display: flex;
	flex-wrap: wrap;
	@include max(768){flex-direction: column-reverse !important;}
	@include min(768){
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	&__right{
		@include min(768){
			width: 45%;
			min-width: 330px;
		}
	}
	&__left{
		@include min(768){
			width: 50%;
		}
	}

	// &__title{

	// }
	&__subTitle{
		span{
			position: relative;
			&::before{
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				height: 1px;
				width: 100%;
				background: $main-color--b;
			}
		}
	}
	// &__day{

	// }
	&__genreLists{
		display: flex;
		flex-wrap: wrap;
		li{
			margin-right: 5px;
		}
	}
	&__categoryLists{
		display: flex;
		flex-wrap: nowrap;
		@include min(768){
			flex-wrap: wrap;
			// padding-left: 2%
		}
		li{
			@include min(768){
				width: 100%;
			}
		}
	}
	&__imgLists{// ui
		.c-detailArea__imgItem{//li
			display: none;
			opacity: 0;
			&.active{
				display: block;
				// 表示アニメーション
				animation-name:fadeAnime;
				perspective-origin: left center;
				animation-fill-mode: forwards;
				animation-duration:1s;
				// animation-delay:1s;
			}
		}
	}
	&__imgItem{// li_共通
		position: relative;
		margin-bottom: 20%;
		opacity: 0;

		@include min(768){margin-bottom: 10%;}
		&::after{
			position: absolute;
			top: -16.5px;
			left: 0%;
			width: auto;
			font-size: clamp(1rem, 1.2vw, 1.5rem);// s-S
			font-family: gothic-font02;
			font-weight: bold;
			@include min(768){
				top: 0%;
				left: auto;
				right: -30px;
				transform: translateX(-50%);
				-ms-writing-mode: tb-rl;
				writing-mode: vertical-rl;
			}
		}
		// 画像のスクロール化に対応して、ユーザーにテキストで周知する。
		&:first-child{// PCブラウザ表示
			&::after{content: "スクロールできるよ（PCバージョン）";}
			.c-detailArea__img{ // li > 
				// サイト紹介は縦幅が長くなりがちなので、「スクロール化」で対応。
				height: 30%;
				max-height: 300px;
				overflow-y: scroll;
				@include min(768){
					height: 75%;
					max-height: 600px;
				}
				@include min(1400){max-height: 580px;}
			}
		}
		&:nth-child(2){// スマホ表示
			width: 75%;
			@include min(768){
				width: 65%;
			}
			&::after{content: "スクロールできるよ（スマホバージョン）";}
			.c-detailArea__img{ // li > 
				// サイト紹介は縦幅が長くなりがちなので、「スクロール化」で対応。
				height: 30%;
				max-height: 480px;
				overflow-y: scroll;
				@include min(768){
					height: 25%;
					max-height: 600px;
				}
				@include min(1400){max-height: 580px;}
			}

		}
	}
	// &__text{

	// }
	&__link{
		color: $site-color02;
		transition: all .5s;
		opacity: 1;
		&:hover{
			opacity: .8;
		}
	}
}